In [1]:
import pandas as pd

In [2]:
def load_data(fn): 
    with open(fn, 'rt') as f:
        types = next(f).rstrip().split(',')[1:]
        columns = next(f).rstrip().split(',')[1:]
        df = pd.read_csv(f, dtype=dict(zip(columns, types)), index_col=0, names=columns)
        return df

In [4]:
data_root = "data/"
datafn= "data.csv"

In [4]:
#raw_data =load_data(data_root+datafn)
raw_data=pd.read_pickle(data_root+'data.pkl')

In [5]:
raw_data.head()

,VONAL,VONATSZAM,VONTATO_TIPUS,ELOZO_ESEMENY_IDO,MENETREND_IDO,OSSZ_KESES,ELOZO_KESES,KESES,tx,t,...,E,ÁI,ÁE,Kezdés,Befejezés,"Kizárás (1=VZ,2=LJ)",Kiutalt menetvonalak zavartatása nélkül,Státus,ELOZO VONAT KESES,VONAL STATUSZ VALTOZOTT
0,70,2010,465,0.0,00:25:00,0.0,0.0,0.0,8.5,6.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,False
1,70,2010,465,2023-01-01 00:25:00,00:25:00,0 days 00:00:24,0.0,0.0,8.5,6.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,False
2,70,2010,465,2023-01-01 00:25:00,00:29:00,0 days 00:01:07,0 days 00:00:24,0 days 00:00:43,8.5,6.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,False
3,2,2010,465,2023-01-01 00:29:00,00:30:00,0 days 00:00:58,0 days 00:01:07,-1 days +23:59:51,8.5,6.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,False
4,2,2010,465,2023-01-01 00:30:00,00:35:00,-1 days +23:59:50,0 days 00:00:58,-1 days +23:58:52,8.5,6.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,False

In [6]:
import datetime
def convert_time_to_minute(input):
    if isinstance(input,datetime.time):
        return float(input.hour*60+input.minute)
    if isinstance(input,datetime.timedelta):
        ret = input.total_seconds()/60
       # if datetime.timedelta(0)>input:
       #     return -ret
        return ret
    if isinstance(input,float):
        return input
    return -1.0

In [7]:
# átalakítjuk időt percekké

In [8]:
raw_data[['MENETREND_IDO','ELOZO_KESES','ELOZO VONAT KESES','KESES']] = raw_data[['MENETREND_IDO','ELOZO_KESES','ELOZO VONAT KESES','KESES']].map(convert_time_to_minute)

In [9]:
#TODO boolean vs categorical?
#TODO Vonal, Line mit kellene kezdeni velük? kicsit kölséges használni őket..
#raw_data[['VONATSZAM','VONAL','VONTATO_TIPUS','Lassúmenet típusa','Kizárás (1=VZ,2=LJ)','Kiutalt menetvonalak zavartatása nélkül','Státus','Fels.vez. kikapcsolása']]=raw_data[['VONATSZAM','VONAL','VONTATO_TIPUS','Lassúmenet típusa','Kizárás (1=VZ,2=LJ)','Kiutalt menetvonalak zavartatása nélkül','Státus','Fels.vez. kikapcsolása']].astype("category")

# sklearn nem bír  category-kal
raw_data.drop(columns=['VONATSZAM','VONAL','VONTATO_TIPUS'],inplace=True)

In [10]:
raw_data=raw_data.drop(columns=['ELOZO_ESEMENY_IDO','ID','Kizárásszám','Kezdés','Befejezés','LINE','OSSZ_KESES'])

In [11]:
raw_data.dtypes

MENETREND_IDO                              float64
ELOZO_KESES                                float64
KESES                                      float64
tx                                         float64
t                                          float64
tn                                         float64
r                                          float64
TERV_IDOTARTAM                             float64
Érintett objektum típusa                   float64
Lassúmenet típusa                          float64
Lassúmenet hossza                          float64
Lassúmenet mértéke (km/h)                  float64
Lassúmenet mértéke motorvonatra (km/h)     float64
Fels.vez. kikapcsolása                     float64
I                                          float64
E                                          float64
ÁI                                         float64
ÁE                                         float64
Kizárás (1=VZ,2=LJ)                        float64
Kiutalt menetvonalak zavartatása nélkül    float64
Státus                                     float64
ELOZO VONAT KESES                          float64
VONAL STATUSZ VALTOZOTT                       bool
dtype: object

In [12]:
raw_data.head()

,MENETREND_IDO,ELOZO_KESES,KESES,tx,t,tn,r,TERV_IDOTARTAM,Érintett objektum típusa,Lassúmenet típusa,...,Fels.vez. kikapcsolása,I,E,ÁI,ÁE,"Kizárás (1=VZ,2=LJ)",Kiutalt menetvonalak zavartatása nélkül,Státus,ELOZO VONAT KESES,VONAL STATUSZ VALTOZOTT
0,25.0,0.000000,0.000000,8.5,6.1,3.4,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,False
1,25.0,0.000000,0.000000,8.5,6.1,3.4,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,False
2,29.0,0.400000,0.716667,8.5,6.1,3.4,0.0,240.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,False
3,30.0,1.116667,-0.150000,8.5,6.1,3.4,0.0,60.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,False
4,35.0,0.966667,-1.133333,8.5,6.1,3.4,0.0,300.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,False

In [13]:
raw_data.to_csv(data_root+'preprocessed_data.csv')

# input és output

In [5]:
raw_data=pd.read_csv(data_root+'preprocessed_data.csv')

In [6]:
pd_y= raw_data['KESES']
pd_X = raw_data.drop(columns=['KESES'])

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(pd_X, pd_y, test_size=0.3, random_state=44)

In [8]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(random_state=44)
model.fit(X_train, y_train)
predictions = model.predict(X_test)

In [ ]:
'''
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt
plt.figure(figsize=(10,8), dpi=150)
plot_tree(model, feature_names=pd_X.columns);
'''

In [ ]:
type(X_test)

In [27]:
X_train.shape[0]

1350058

In [26]:
X_test.shape[0]

578597

In [11]:
eval_df=pd.concat([X_test[['TERV_IDOTARTAM']],y_test],axis=1)

In [12]:
eval_df['predictions']=predictions

In [13]:
eval_df.head()

         TERV_IDOTARTAM     KESES  predictions
1224451            60.0 -0.200000    -0.516667
311804            120.0 -0.266667    -0.616667
1245018            60.0  0.316667     0.216667
1036497            60.0 -0.483333     0.266667
792395            120.0 -0.400000     0.983333

In [31]:
eval_df['Tény']=eval_df['TERV_IDOTARTAM']+eval_df['KESES']
eval_df['Pred']=eval_df['TERV_IDOTARTAM']+eval_df['predictions']
eval_df['PE']=(eval_df['Tény']-eval_df['Pred'])/eval_df['Tény'] *100
eval_df['PE1']=(eval_df['KESES']-eval_df['predictions'])/eval_df['KESES'] *100

In [34]:
eval_df.tail()

,TERV_IDOTARTAM,KESES,predictions,Tény,Pred,PE,PE1
1559032,240.0,0.316667,0.333333,240.316667,240.333333,-0.006935,-5.263158
1038341,180.0,0.083333,0.283333,180.083333,180.283333,-0.111060,-240.000000
1727299,540.0,0.366667,0.983333,540.366667,540.983333,-0.114120,-168.181818
1871785,180.0,0.050000,-2.466667,180.050000,177.533333,1.397760,5033.333333
804449,60.0,-0.183333,-0.150000,59.816667,59.850000,-0.055726,18.181818

In [24]:
eval_df=eval_df[eval_df['TERV_IDOTARTAM']>0]

In [25]:
eval_df['PE'].describe()

count    418789.000000
mean         -0.017498
std           1.039408
min        -295.975232
25%          -0.125156
50%           0.000000
75%           0.112045
max          48.108186
Name: PE, dtype: float64

In [33]:
eval_df['PE1'].describe()

C:\Users\ELTE\miniconda3\envs\gtfs_env_311\Lib\site-packages\numpy\core\_methods.py:49: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

count    4.085900e+05
mean              NaN
std               NaN
min              -inf
25%     -2.500000e+01
50%      1.052632e+01
75%      7.500000e+01
max               inf
Name: PE1, dtype: float64

In [20]:
errors=eval_df.loc[pd.isna(eval_df['Pred'])]

In [21]:
errors.head()

Empty DataFrame
Columns: [TERV_IDOTARTAM, KESES, predictions, Tény, Pred, PE]
Index: []